body {
  background-color: #f4f4f4;
  margin: 0 20px;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  padding-bottom: 140px;
}

/* Header */

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 15px;
}

.header-container > div > div {
  cursor: pointer;
}

.header-container > div > div:hover {
  color: #e20114;
}

.header-logo {
  width: 150px;
}

.header-menu {
  display: flex;
  justify-content: space-between;
  width: 20%;
  font-size: 20px;
}

.header-menu-clicked {
  color: red;
}

.header-user {
  display: flex;
  justify-content: space-between;
  width: 100px;
  font-size: 20px;
}

/* SearchBar */

.search-bar-container {
  display: flex;
  align-items: center;
  width: 30%;
  height: 24px;
  position: relative;
}

.search-bar {
  width: 100%;
  height: 100%;
  padding: 5px;
  padding-left: 30px;
  border: none;
  border-radius: 5px;
}

.search-bar:focus {
  outline: none;
}

.search-icon {
  position: absolute;
  left: 10px;
}

/* Footer */

.footer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  width: 100%;
  height: 8rem;
}

/* Home */

/* Hero */

.hero-container {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: white;
}

.hero-container > img {
  width: 50%;
}

/* Carousel */

.carousel > h1 {
  margin: 35px 0 15px 20px;
  font-size: 22px;
}

.carousel-container {
  margin: 0 10px;
}

.carousel-article-container {
  padding: 10px;
}

.carousel-article {
  border-radius: 5px;
  background-color: white;
  color: black;
  padding: 15px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.carousel-article > h2 {
  color: grey;
}

.carousel-article > img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: top;
}

.carousel-article > button {
  border-radius: 5px;
  background-color: black;
  color: white;
  border: none;
  padding: 10px 15px 10px 15px;
  width: 100%;
  border-radius: 1 0px;
  cursor: pointer;
}

/* About */

.about-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 80px 0;
  background-color: white;
}

.about-info > h1 {
  font-size: 18px;
  font-weight: 800;
  margin: 20px 0 10px 0;
}

.about-info > h3 {
  color: grey;
  margin-top: 50px;
}
