@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");

body {
  background-color: #f4f4f4;
  font-family: "Roboto", sans-serif;
  position: relative;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

.line {
  width: 100%;
  height: 1px;
  background-color: black;
  margin: 20px 0;
}

.default-button {
  border-radius: 5px;
  background-color: black;
  color: white;
  border: none;
  padding: 10px 15px 10px 15px;
  width: 100%;
  border-radius: 1 0px;
  cursor: pointer;
  z-index: 10;
  margin: 10px 0;
}

.default-button-2 {
  border-radius: 5px;
  background-color: black;
  color: white;
  border: none;
  padding: 10px 15px 10px 15px;
  border-radius: 1 0px;
  cursor: pointer;
  z-index: 10;
  margin: 10px 0;
}

.margin-top {
  margin-top: 20px;
}

.loader {
  position: absolute;
  z-index: 5000;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Header */

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;

  width: 80%;
  max-width: 1440px;
}

.header-container > div > a,
.header-container > div > button {
  cursor: pointer;
  font-size: 20px;
}

.header-container > div > a > div {
  cursor: pointer;
  font-size: 30px;
}

.header-container > div > a:nth-child(2):hover,
.header-container > div > a:nth-child(3):hover,
.header-container > div > a:nth-child(4):hover,
.header-container > div > a:nth-child(5):hover,
.header-container > div > a:nth-child(6):hover {
  color: #0087d3;
}

.header-container > div > a > div:hover {
  color: #0087d3;
}

.header-logo {
  width: 150px;
  cursor: pointer;
}

.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
}

.header-menu-clicked {
  color: #0087d3;
}

.header-user {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header-basket {
  position: relative;
  margin-left: 20px;
}

.header-basket-counter {
  position: absolute;
  background-color: rgba(38, 166, 91, 1);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid white 1px;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  padding: 1px;
  font-size: 14px;
  font-weight: bold;
  top: 15px;
  left: 17px;
}

.log {
  background: linear-gradient(#00befa, #0087d3);
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  margin-right: 20px;
  cursor: pointer;
}

.log:hover {
  background: linear-gradient(#0087d3, #00befa);
}

.logout {
  background-color: #e20114;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  margin-right: 20px;
  cursor: pointer;
}

.logout:hover {
  background-color: white;
  color: #e20114;
  border: solid 2px #e20114;
}
/* SearchBar */

.search-bar-container {
  display: flex;
  align-items: center;
  width: 100%;

  height: 24px;
  position: relative;
}

.search-bar {
  width: 100%;
  height: 100%;
  padding: 5px;
  padding-left: 30px;
  border: none;
  border-radius: 5px;
}

.search-bar:focus {
  outline: none;
}

.search-icon {
  position: absolute;
  left: 10px;
}

.search-bar-list {
  position: absolute;
  top: 25px;
  width: calc(100% - 60px);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.search-bar-list > div {
  background-color: white;
  width: 100%;
  padding: 5px 30px;
  cursor: pointer;
}

.search-bar-list > div:hover {
  background-color: lightgrey;
}

/* Home */

/* Hero */

.hero {
  width: 100%;
  height: 60vh;
}
.hero__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  max-width: 1440px;
  margin: 0 auto;
  height: 100%;
}

.hero__heading {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  width: 75%;
  font-size: 4vw;
  margin-bottom: 1rem;
}
.hero__subheading {
  width: 60%;
  font-weight: 300;
  font-size: 2vw;
  padding-bottom: 4rem;
}
.hero__button {
  font-size: 1rem;
  font-weight: 700;
  border: none;
  border-radius: 15px;
  padding: 1em 3em;
  background: linear-gradient(#00befa, #0087d3);
  color: #ffffff;
  cursor: pointer;
}
.hero__button:hover {
  background: linear-gradient(#0087d3, #00befa);
}

.hero__image {
  /* height: 20rem; */
  width: 30rem;
}
.hero__image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Carousel */

.carousel {
  margin: 0 auto;
  width: 90%;
  max-width: 1440px;
}

.carousel > h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin: 35px 0 15px 30px;
  font-size: 22px;
}

/* .carousel-container {
  margin: 0 20px;
} */

.carousel-article-container {
  padding: 10px 0;
}

.carousel-article {
  border-radius: 10px;
  background-color: white;
  color: black;
  font-weight: 500;
  padding: 15px;
  height: 300px;
  margin: 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.carousel-article:hover {
  box-shadow: 0px 5px 10px grey;
}

.carousel-article > img {
  width: 100%;
  height: 175px;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
}
.carousel-article-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 90%;
  margin: 0 auto;
}

.carousel-article-price {
  color: grey;
}

.carousel-article-button {
  border-radius: 15px;
  background: linear-gradient(#00befa, #0087d3);
  color: white;
  font-weight: 500;
  border: none;
  padding: 10px 15px 10px 15px;
  width: 50%;
  border-radius: 10px;
  cursor: pointer;
  z-index: 20;
}

/* About */

.about-info {
  width: 100%;
  background-color: white;
}

.about__container {
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
  width: 80%;
  margin: 0 auto;
  padding: 5em 0;
}

.about__container > h1 {
  font-size: 18px;
  font-weight: 800;
  margin: 20px 0 10px 0;
}

.about__container > h3 {
  color: grey;
  margin-top: 50px;
}
.map {
  width: 100%;
  height: 650px;
  background-color: white;
}

/* Shop */
.shop {
  width: 80%;
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 3em;
}

.shop__categoriesandlist {
  display: flex;
}

.shop-search-container {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; */
  width: 100%;
  height: 3em;
}

.shop-categories-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 10em;
  max-width: 12em;
  background-color: white;
  /* margin: 0 auto; */
  /* margin-top: 40px; */
  padding: 30px;
  border-radius: 5px;
  height: fit-content;
}

.shop-categories-container > h1 {
  margin-bottom: 18px;
  font-weight: 800;
}

.shop-categories {
  /* margin: 0 20px; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.shop-categories > label {
  width: 100%;
  margin: 5px 20px 5px 0;
}

.shop-categories > label > input {
  margin-right: 5px;
}

/* Article List */

.article-list-container {
  display: flex;
  align-items: center;
  flex-direction: column;

  width: 80%;
  /* max-width: 1440px; */
  /* margin: 0 auto; */
}

.article-list-container > h1 > span {
  font-weight: 800;
}

.article-list-sub-container {
  /* margin: 20px 10px; */
  display: flex;
  width: 100%;
  justify-content: left;
  flex-wrap: wrap;
  justify-content: center;
}

.article-list {
  box-sizing: border-box;
  margin: 0 10px 10px 10px;
  border-radius: 10px;
  background-color: white;
  color: black;
  font-weight: 500;
  padding: 15px;
  height: 300px;
  min-height: 250px;
  width: 250px;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.article-list:hover {
  box-shadow: 0px 5px 10px grey;
}
.article-list > img {
  width: 100%;
  height: 175px;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
}

.article-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 90%;
  margin: 0 auto;
}

.article-price {
  color: grey;
}

.article-button {
  border-radius: 15px;
  background: linear-gradient(#00befa, #0087d3);
  color: white;
  font-weight: 500;
  border: none;
  padding: 10px 15px 10px 15px;
  width: 50%;
  border-radius: 10px;
  cursor: pointer;
  z-index: 20;
}

/* Article Modal */

.article-modal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.article-modal-container {
  background-color: white;
  border-radius: 5px;
  width: 30%;

  z-index: 30;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.article-modal-container > img {
  object-fit: cover;
  object-position: top;
  border-radius: 5px;
  max-width: 50%;
}

.article-modal-container > h1 {
  font-weight: 800;
  margin-bottom: 30px;
  margin-top: 30px;
}

.article-modal-container > h2 {
  color: grey;
  text-align: center;
  width: 80%;
  margin-top: 20px;
}

.article-modal-container > h3 {
  margin-top: 5px;
  margin-bottom: 15px;
}

.article-modal-container > button {
  border-radius: 15px;
  background: linear-gradient(#00befa, #0087d3);
  color: white;
  font-weight: 500;
  border: none;
  padding: 10px 15px 10px 15px;
  width: 50%;
  border-radius: 10px;
  cursor: pointer;
  z-index: 20;
  margin-bottom: 20px;
}

.x-icon {
  position: absolute;
  cursor: pointer;
  font-size: 20px;
  top: 30px;
  right: 30px;
}

/* Login & Signup */

.credentials-form {
  margin: 30px auto;
  padding: 40px;
  width: 30%;
  min-width: 15em;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 1em;
  box-shadow: 1px 1px 10px rgb(170, 170, 170);
  position: relative;
}

.credentials-form button {
  border-radius: 10px;
  background: linear-gradient(#00befa, #0087d3);
  color: white;
  font-weight: 600;

  border: none;
  padding: 10px 15px 10px 15px;
  width: 80%;
  max-width: 20em;
  /* border-radius: 1 0px; */
  cursor: pointer;
  z-index: 10;
}

.credentials-form > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-width: 100%;
}

.credential__heading {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 30px;
}

.credential__subheading {
  font-family: "Montserrat", sans-serif;
  text-align: left;
  margin-top: 10px;
}

.credentials-form a {
  font-size: 12px;
  margin-top: 20px;
}

.credentials-form a:hover {
  color: #e20114;
}

.credentials-form input {
  border: 1px solid rgb(146, 146, 146);
  background: rgb(243, 243, 243);
  border-radius: 0.5rem;
  margin: 10px 0 20px 0;
  padding: 5px;
  width: 75%;
  max-width: 20em;
}

.error-message {
  position: absolute;
  top: 0;
  color: #e20114;
  font-style: italic;
}

.credentials-form-button {
  position: relative;
  padding-top: 30px;
}

.credentials__loginhere {
  font-weight: 900;
  color: #0087d3;
  text-decoration: underline;
}

/* Basket */

.basket {
  width: 100%;
  max-width: 1440px;
}

.basket-container {
  display: flex;
  width: 80%;
  margin: 3em auto;
  justify-content: space-between;
  background: #ffffff;
  padding: 3em;
  border-radius: 1em;
  box-shadow: 1px 1px 10px rgb(218, 218, 218);
}

.basket-sub-container {
  display: flex;
  width: 60%;
  flex-direction: column;
}

.basket-sub-container > h1 {
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  margin-bottom: 15px;
}

.basket-sub-container > h2 {
  color: gray;
}

.basket-list-container {
  display: flex;
  flex-direction: column;
}

.basket-list {
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  padding: 15px 15px 15px 0px;
  border-radius: 5px;
  box-shadow: 1px 1px 10px rgb(218, 218, 218);
}

.basket-list > h2 {
  width: 10%;
}

.basket-list > * {
  width: 22.5%;
}

.basket-list > h1 {
  color: grey;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.basket-list > h3 > span {
  color: grey;
}

.basket-list > img {
  width: 50px;
}

.total-container {
  width: 30%;
  height: fit-content;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* padding: 25px; */
  position: sticky;
  top: 100px;
}

.total-container > h1 {
  /* margin: 0 auto; */
  /* font-size: 24px; */
  /* margin-bottom: 25px; */

  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  margin-bottom: 3em;
}

.total-container > h2 {
  width: 100%;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.total-container > h2 > span {
  color: grey;
}

.total-container > h3 {
  width: 100%;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

/* Quantity Counter */

.quantity-counter-container {
  display: flex;
  align-items: center;
}

.quantity-counter-container > h1 {
  padding: 6px;
  border: solid grey 1px;
  border-radius: 5px;
}

.quantity-counter-container > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 5px;
}

.quantity-counter-container > div > button {
  background: linear-gradient(#0087d3, #86d2ff);
  border: none;
  font-size: 8px;
  padding: 0.5em;
  border-radius: 0.3em;
  cursor: pointer;
}

.quantity-counter-container > div > button:nth-child(1) {
  margin-bottom: 2px;
}

.arrow {
  color: #ffffff;
}

.basket__button {
  background: linear-gradient(#00befa, #0087d3);
  font-weight: 600;
  max-width: 20em;
}

.info {
  background: linear-gradient(#0087d3, #86d2ff);
}
.info__container {
  margin: 4em auto 0;
  width: 80%;
  max-width: 1440px;
}
.info__heading {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  padding-top: 2em;
  padding-bottom: 2em;
  font-size: 2rem;
  text-align: center;
  color: #ffffff;
}
.info__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 6em;
}
.info__description {
  max-width: 35em;
  color: #ffffff;
  font-weight: 500;
  padding-right: 4rem;
}
.info__image {
  width: 20em;
  height: 20em;
  border: 1px solid red;
}

/* Alert Modal */

.alert-modal-container {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: rgba(38, 166, 91, 1);
  border-radius: 5px;
  border: solid white 1px;
  padding: 15px;
  display: flex;
  align-items: center;
  z-index: 5000;
  color: white;
}

.exit-alert-modal {
  font-size: 14px;
  margin-left: 10px;
  cursor: pointer;
}

/* Checkout */

.payment {
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  margin-top: 40px;
}

.payment-container {
  position: relative;
  width: 50%;
  background-color: white;
  border-radius: 5px;
  padding: 25px;
  display: flex;
  flex-direction: column;
}

.payment-container > h1 {
  font-size: 24px;
  margin-bottom: 15px;
}

.payment-container > h2 {
  font-size: 14px;
  margin-bottom: 25px;
  color: grey;
  font-style: italic;
}

.shipping-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.shipping-form > label {
  display: flex;
  flex-direction: column;
}

.shipping-form input {
  margin-bottom: 15px;
  margin-top: 10px;
  padding: 5px;
}

.shipping-form > label:nth-child(1) {
  width: 100%;
}

.shipping-form > label:nth-child(2),
.shipping-form > label:nth-child(3),
.shipping-form > label:nth-child(4),
.shipping-form > label:nth-child(5) {
  width: 47%;
}

.shipping-form > label:nth-child(6),
.shipping-form > label:nth-child(7),
.shipping-form > label:nth-child(8) {
  width: 30%;
}

.payment-form {
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
}

.payment-form-error-message {
  position: absolute;
  top: 30px;
  right: 30px;
  color: #e20114;
  font-style: italic;
}

/* Success */

.success-container {
  margin: 0 auto;
  padding: 25px;
  background-color: white;
  border-radius: 5px;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 200px;
}

.success-container > h1 {
  color: rgba(38, 166, 91, 1);
  font-size: 24px;
  margin-bottom: 15px;
}

.success-container > p {
  font-size: 14px;
  margin-bottom: 15px;
  color: grey;
  width: 60%;
  text-align: center;
  line-height: 18px;
}

/* Account */

.account-container {
  display: flex;
  flex-direction: column;

  margin-top: 30px;
}

.account-container > h1 {
  display: flex;
  justify-content: center;
  font-size: 18px;
  margin-bottom: 30px;
}

.account-order {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: white;
  margin: 0 80px;
}

.account-order > h1 {
  font-weight: bold;
}

.account-order > h1 > span {
  font-weight: lighter;
  color: grey;
}

.order-modal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.order-modal-info {
  width: 100%;
}

.order-modal-info > h1 {
  color: black;
  font-weight: bold;
  margin-bottom: 10px;
}

.order-modal-info > h1 > span {
  color: black;
  font-weight: lighter;
}

.order-modal-container {
  background-color: white;
  border-radius: 5px;
  width: 60%;
  height: 60%;
  z-index: 30;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
}

.order-list-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.order-list-container > h1 {
  margin: 15px 0;
  font-weight: bold;
}

.order-list {
  width: 100%;

  border-top: black solid 1px;
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  padding: 15px 15px 15px 0px;
}

.order-list > h2 {
  width: 10%;
}

.order-list > * {
  width: 22.5%;
}

.order-list > h1 {
  color: grey;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.order-list > h3 > span {
  color: grey;
}

.order-list > img {
  width: 50px;
}

/* Footer */

.footer {
  width: 100%;
  background: #303030;
}
.footer__container {
  width: 80%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 2em;
  display: flex;
  justify-content: space-between;
}
.footer__companyinfo {
  width: 50%;
}

.footer__about {
  color: #ffffff;
  letter-spacing: 0.15rem;
}
.footer__description {
  margin-top: 1em;
  color: #727272;
  word-spacing: 0.25rem;
}

.footer__links {
  margin-right: 10em;
}
.footer__links h2 {
  color: #ffffff;
  letter-spacing: 0.15rem;
}
.footer__links ul li {
  color: #727272;
  padding-bottom: 0.4rem;
}
.footer__links ul {
  margin-top: 1em;
}
/* Admin */

.admin-container {
  margin-bottom: 120px;
}

.admin-selector {
  margin: 0 auto;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.admin-selector > button {
  background-color: none;
  font-size: 18px;
  cursor: pointer;
}

.selected {
  border: none;
  border-bottom: solid 2px black;
}

.un-selected {
  border: none;
}

.admin-selector > button:nth-child(1) {
  margin-right: 60px;
}

.admin-orders-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.admin-orders-container > div:nth-child(1) {
  margin-bottom: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.admin-orders-container > div:nth-child(1) > h1 {
  margin-bottom: 15px;
}

.admin-orders {
  display: flex;
  justify-content: space-evenly;
}

.admin-orders > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.admin-orders > div > h1 {
  font-size: 18px;
  margin-bottom: 30px;
}

.admin-order {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  background-color: white;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 5px;
}

.admin-order > h1 > span {
  color: grey;
}

.admin-articles {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 90%;
}

.admin-articles > div:nth-child(1) {
  width: 70%;
}

.admin-article {
  padding: 15px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
  background-color: white;
  border-radius: 5px;
  width: 100%;
}

.admin-article > * {
  margin-right: 10px;
}

.admin-article h1 {
  margin: 5px 0;
}

.admin-article > div {
  display: flex;
  flex-direction: column;
}

.admin-article > div > label {
  display: flex;
  flex-direction: column;
}

.admin-article > img {
  width: 120px;
  object-fit: cover;
}

.admin-article select {
  width: 100%;
}

.new-article-modal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-article-modal-container {
  background-color: white;
  border-radius: 5px;
  width: 60%;
  height: 60%;
  z-index: 30;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}

.trade {
  width: 100%;
}
.trade__container {
  box-sizing: border-box;
  width: 80%;
  max-width: 50em;
  margin: 2em auto;
  padding: 3em;
  background: #ffffff;
  box-shadow: 1px 1px 10px rgb(218, 218, 218);
  border-radius: 1em;
}
.trade__heading {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  text-align: center;
  padding-bottom: 1em;
}
.trade__info {
  width: 80%;
  margin: 0 auto;
}

.trade__card {
  box-shadow: 1px 1px 10px rgb(218, 218, 218);
  margin: 1em;
  padding: 2em;
}
.trade__header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-bottom: 1em;
}
.trade__subHeading {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
}

.trade__button {
  font-size: 2rem;
  height: 1em;
  width: 1em;
  border: none;
  color: #ffffff;
  background: linear-gradient(#00befa, #0087d3);
  border-radius: 0.1em;
}

.contact-form {
  box-sizing: border-box;
  margin: 0 auto;
  margin-top: 3em;
  padding: 50px;
  background-color: white;
  width: 80%;
  max-width: 50em;
  border-radius: 1em;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 1px 1px 10px rgb(218, 218, 218);
}

.contact-flex {
  display: flex;
  flex-direction: column;
}
.contact__input {
  /* margin-right: 15px; */
  width: 100%;
  height: 2em;
}

.contact__textarea {
  width: 100%;
  margin-right: 15px;
  height: 200px;
  margin-bottom: 10px;
}

.contact__container {
  width: 80%;
  margin: 0 auto;

  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.contact__container > div > div {
  display: flex;
  justify-content: space-between;
}

.contact__container h2 {
  margin-bottom: 5px;
  margin-top: 15px;
}

.contact__container h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  margin: 0 auto;
  margin-bottom: 10px;
  font-size: 28px;
}

.contact__container p {
  margin: 0 auto;
  margin-bottom: 40px;
  color: grey;
  font-style: italic;
}

.contact__container h3 {
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 20px;
  color: #e20114;
  font-style: italic;
}

.contact-button {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  background: linear-gradient(#00befa, #0087d3);
  font-weight: 600;
  max-width: 20em;
}

/* RESPONSIVE */

@media (max-width: 1035px) {
  .header-container > div > a {
    font-size: 14px;
  }

  .header-logo {
    width: 125px;
  }

  .shop-categories-container {
    padding: 1em;
  }
}

@media (max-width: 800px) {
  .header-container {
    flex-direction: column;
  }
  .header-menu {
    width: 100%;
    margin: 0 auto;
  }

  .hero {
    margin-top: 2rem;
    height: 100%;
  }
  .hero__container {
    flex-direction: column-reverse;
  }
  .hero__text {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .hero__heading {
    font-size: 3rem;
  }
  .hero__subheading {
    font-size: 1.5rem;
  }
  .hero__image {
    width: auto;
  }

  .info__body {
    flex-direction: column-reverse;
  }
  .info__description {
    font-size: larger;
    text-align: center;
    padding: initial;
  }
  .info__image {
    height: 15rem;
    width: 15em;
    margin-bottom: 4em;
  }

  .trade__subHeading {
    padding: 1em;
  }

  .trade__info {
    padding-left: 0;
    padding-right: 0;
  }
  .trade__subHeading {
    font-size: 1em;
  }

  .footer {
    font-size: larger;
  }
  .footer__container {
    flex-direction: column;
  }
  .footer__companyinfo {
    width: auto;
    margin: 0 auto;
  }
  .footer__about {
    text-align: center;
  }
  .footer__links {
    margin: 3em auto;
    text-align: center;
  }
  .footer__links ul li {
    color: #727272;
    padding-bottom: 2rem;
  }

  .basket-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .basket-sub-container {
    margin-bottom: 3em;
    width: 100%;
  }
  .total-container {
    width: 100%;
  }
  .basket-list > img {
    display: none;
  }
  .shop {
    width: 98%;
  }
}

@media (max-width: 500px) {
  .trade__container {
    width: 100%;

    padding-left: 1em;
    padding-right: 1em;
  }
  .trade__header {
    flex-direction: column;
  }
  .trade__info {
    margin: 0;
    width: 100%;
  }
}

@media (max-width: 400px) {
  .hero__heading {
    font-size: 2rem;
  }

  .shop-categories-container {
    min-width: 8.5em;
  }
}
