@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");

body {
  background-color: #f4f4f4;
  font-family: "Roboto", sans-serif;
  position: relative;
  padding-bottom: 140px;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

.line {
  width: 100%;
  height: 1px;
  background-color: black;
  margin: 20px 0;
}

.default-button {
  border-radius: 5px;
  background-color: black;
  color: white;
  border: none;
  padding: 10px 15px 10px 15px;
  width: 100%;
  border-radius: 1 0px;
  cursor: pointer;
  z-index: 10;
  margin: 10px 0;
}

.default-button-2 {
  border-radius: 5px;
  background-color: black;
  color: white;
  border: none;
  padding: 10px 15px 10px 15px;
  border-radius: 1 0px;
  cursor: pointer;
  z-index: 10;
  margin: 10px 0;
}

.margin-top {
  margin-top: 20px;
}

.loader {
  position: absolute;
  z-index: 5000;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Header */

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;

  width: 80%;
  max-width: 1440px;
}

.header-container > div > a,
.header-container > div > button {
  cursor: pointer;
  font-size: 20px;
}

.header-container > div > a > div {
  cursor: pointer;
  font-size: 30px;
}

.header-container > div > a:nth-child(2):hover,
.header-container > div > a:nth-child(3):hover,
.header-container > div > a:nth-child(4):hover,
.header-container > div > a:nth-child(6):hover {
  color: #0087d3;
}

.header-container > div > a > div:hover {
  color: #0087d3;
}

.header-logo {
  width: 150px;
  cursor: pointer;
}

.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
}

.header-menu-clicked {
  color: #0087d3;
}

.header-user {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header-basket {
  position: relative;
  margin-left: 20px;
}

.header-basket-counter {
  position: absolute;
  background-color: rgba(38, 166, 91, 1);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid white 1px;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  padding: 1px;
  font-size: 14px;
  font-weight: bold;
  top: 15px;
  left: 17px;
}

.log {
  background: linear-gradient(#00befa, #0087d3);
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  margin-right: 20px;
  cursor: pointer;
}

.log:hover {
  background: linear-gradient(#0087d3, #00befa);
  border: solid 2px #005da9;
}

.logout {
  background-color: #e20114;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  margin-right: 20px;
  cursor: pointer;
}

.logout:hover {
  background-color: white;
  color: #e20114;
  border: solid 2px #e20114;
}
/* SearchBar */

.search-bar-container {
  display: flex;
  align-items: center;
  width: 30%;
  height: 24px;
  position: relative;
}

.search-bar {
  width: 100%;
  height: 100%;
  padding: 5px;
  padding-left: 30px;
  border: none;
  border-radius: 5px;
}

.search-bar:focus {
  outline: none;
}

.search-icon {
  position: absolute;
  left: 10px;
}

.search-bar-list {
  position: absolute;
  top: 25px;
  width: calc(100% - 60px);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.search-bar-list > div {
  background-color: white;
  width: 100%;
  padding: 5px 30px;
  cursor: pointer;
}

.search-bar-list > div:hover {
  background-color: lightgrey;
}

/* Footer */

.footer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  width: 100%;
  height: 8rem;
}

/* Home */

/* Hero */

.hero-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 60vh;
  background-color: white;
}

.hero-container > img {
  width: 100%;
  max-width: 700px;

  /* object-fit: cover; */
}

/* Carousel */

.carousel {
  margin: 0 auto;
  width: 80%;
  max-width: 1440px;
}

.carousel > h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin: 35px 0 15px 30px;
  font-size: 22px;
}

.carousel-container {
  margin: 0 20px;
}

/* .carousel-article-container {
  padding: 10px;
} */

.carousel-article {
  border-radius: 10px;
  background-color: white;
  color: black;
  font-weight: 500;
  padding: 15px;
  height: 300px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.carousel-article:hover {
  box-shadow: 0px 5px 10px grey;
}

.carousel-article > img {
  width: 100%;
  height: 175px;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
}
.carousel-article-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 90%;
  margin: 0 auto;
}

.carousel-article-price {
  color: grey;
}

.carousel-article-button {
  border-radius: 15px;
  background: linear-gradient(#00befa, #0087d3);
  color: white;
  font-weight: 500;
  border: none;
  padding: 10px 15px 10px 15px;
  width: 50%;
  border-radius: 10px;
  cursor: pointer;
  z-index: 20;
}

/* About */

.about-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 80px 0;
  background-color: white;
}

.about-info > h1 {
  font-size: 18px;
  font-weight: 800;
  margin: 20px 0 10px 0;
}

.about-info > h3 {
  color: grey;
  margin-top: 50px;
}
.map {
  width: 100%;
  height: 650px;
  background-color: white;
}

/* Shop */

.shop-search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  margin-top: 30px;
}

.shop-categories-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  background-color: white;
  margin: 0 auto;
  margin-top: 40px;
  padding: 30px;
  border-radius: 5px;
}

.shop-categories-container > h1 {
  margin-bottom: 18px;
  font-weight: 800;
}

.shop-categories {
  margin: 0 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.shop-categories > label {
  margin: 5px 20px 5px 0;
}

.shop-categories > label > input {
  margin-right: 5px;
}

/* Article List */

.article-list-container {
  display: flex;
  align-items: center;
  flex-direction: column;

  width: 80%;
  max-width: 1440px;
  margin: 0 auto;
}

.article-list-container > h1 > span {
  font-weight: 800;
}

.article-list-sub-container {
  margin: 20px 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.article-list {
  margin: 10px;
  border-radius: 10px;
  background-color: white;
  color: black;
  font-weight: 500;
  padding: 15px;
  height: 300px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.article-list:hover {
  box-shadow: 0px 5px 10px grey;
}
.article-list > img {
  width: 100%;
  height: 175px;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
}

.article-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 90%;
  margin: 0 auto;
}

.article-price {
  color: grey;
}

.article-button {
  border-radius: 15px;
  background: linear-gradient(#00befa, #0087d3);
  color: white;
  font-weight: 500;
  border: none;
  padding: 10px 15px 10px 15px;
  width: 50%;
  border-radius: 10px;
  cursor: pointer;
  z-index: 20;
}

/* Article Modal */

.article-modal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.article-modal-container {
  background-color: white;
  border-radius: 5px;
  width: 60%;
  height: 60%;
  z-index: 30;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}

.article-modal-container > div:nth-child(1) {
  width: 30%;
  height: 80%;
}

.article-modal-container > div:nth-child(1) > img {
  object-fit: cover;
  object-position: top;
  border-radius: 5px;
  width: 100%;
  height: 100%;
}

.article-modal-container > div:nth-child(2) {
  border-radius: 5px;
  width: 30%;
  height: 70%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.article-modal-container > div:nth-child(2) > h1 {
  font-weight: 800;
}

.article-modal-container > div:nth-child(2) > h2 {
  color: grey;
  text-align: justify;
}

.article-modal-container > div:nth-child(2) > button {
  border-radius: 5px;
  background-color: black;
  color: white;
  border: none;
  padding: 10px 15px 10px 15px;
  width: 100%;
  border-radius: 1 0px;
  cursor: pointer;
  z-index: 10;
}

.x-icon {
  position: absolute;
  cursor: pointer;
  font-size: 20px;
  top: 30px;
  right: 30px;
}

/* Login & Signup */

.credentials-form {
  margin: 30px auto;
  padding: 40px;
  width: 30%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  position: relative;
}

.credentials-form button {
  border-radius: 5px;
  background-color: black;
  color: white;
  border: none;
  padding: 10px 15px 10px 15px;
  width: 80%;
  border-radius: 1 0px;
  cursor: pointer;
  z-index: 10;
}

.credentials-form > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}

.credentials-form > h1 {
  font-size: 20px;
  margin-bottom: 30px;
}

.credentials-form h2 {
  margin-top: 10px;
}

.credentials-form a {
  font-size: 12px;
  margin-top: 20px;
}

.credentials-form a:hover {
  color: #e20114;
}

.credentials-form input {
  margin: 10px 0 20px 0;
  padding: 5px;
  width: 75%;
}

.error-message {
  position: absolute;
  top: 0;
  color: #e20114;
  font-style: italic;
}

.credentials-form-button {
  position: relative;
  padding-top: 30px;
}

/* Basket */

.basket-container {
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  margin-top: 40px;
}

.basket-sub-container {
  display: flex;
  width: 60%;
  flex-direction: column;
}

.basket-sub-container > h1 {
  font-size: 24px;
  margin-bottom: 15px;
}

.basket-sub-container > h2 {
  color: gray;
}

.basket-list-container {
  display: flex;
  flex-direction: column;
}

.basket-list {
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  padding: 15px 15px 15px 0px;
  border-radius: 5px;
}

.basket-list > h2 {
  width: 10%;
}

.basket-list > * {
  width: 22.5%;
}

.basket-list > h1 {
  color: grey;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.basket-list > h3 > span {
  color: grey;
}

.basket-list > img {
  width: 50px;
}

.total-container {
  width: 30%;
  height: fit-content;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 25px;
  position: sticky;
  top: 100px;
}

.total-container > h1 {
  margin: 0 auto;
  font-size: 24px;
  margin-bottom: 25px;
}

.total-container > h2 {
  width: 100%;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.total-container > h2 > span {
  color: grey;
}

.total-container > h3 {
  width: 100%;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

/* Quantity Counter */

.quantity-counter-container {
  display: flex;
  align-items: center;
}

.quantity-counter-container > h1 {
  padding: 6px;
  border: solid grey 1px;
  border-radius: 5px;
}

.quantity-counter-container > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 5px;
}

.quantity-counter-container > div > button {
  font-size: 8px;
  padding: 0 2px;
  cursor: pointer;
}

.quantity-counter-container > div > button:nth-child(1) {
  margin-bottom: 2px;
}

.arrow {
  color: black;
}

/* Alert Modal */

.alert-modal-container {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: rgba(38, 166, 91, 1);
  border-radius: 5px;
  border: solid white 1px;
  padding: 15px;
  display: flex;
  align-items: center;
  z-index: 5000;
  color: white;
}

.exit-alert-modal {
  font-size: 14px;
  margin-left: 10px;
  cursor: pointer;
}

/* Checkout */

.payment {
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  margin-top: 40px;
}

.payment-container {
  position: relative;
  width: 50%;
  background-color: white;
  border-radius: 5px;
  padding: 25px;
  display: flex;
  flex-direction: column;
}

.payment-container > h1 {
  font-size: 24px;
  margin-bottom: 15px;
}

.payment-container > h2 {
  font-size: 14px;
  margin-bottom: 25px;
  color: grey;
  font-style: italic;
}

.shipping-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.shipping-form > label {
  display: flex;
  flex-direction: column;
}

.shipping-form input {
  margin-bottom: 15px;
  margin-top: 10px;
  padding: 5px;
}

.shipping-form > label:nth-child(1) {
  width: 100%;
}

.shipping-form > label:nth-child(2),
.shipping-form > label:nth-child(3),
.shipping-form > label:nth-child(4),
.shipping-form > label:nth-child(5) {
  width: 47%;
}

.shipping-form > label:nth-child(6),
.shipping-form > label:nth-child(7),
.shipping-form > label:nth-child(8) {
  width: 30%;
}

.payment-form {
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
}

.payment-form-error-message {
  position: absolute;
  top: 30px;
  right: 30px;
  color: #e20114;
  font-style: italic;
}

/* Success */

.success-container {
  margin: 0 auto;
  padding: 25px;
  background-color: white;
  border-radius: 5px;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.success-container > h1 {
  color: rgba(38, 166, 91, 1);
  font-size: 24px;
  margin-bottom: 15px;
}

.success-container > p {
  font-size: 14px;
  margin-bottom: 15px;
  color: grey;
  width: 60%;
  text-align: center;
  line-height: 18px;
}

/* Account */

.account-container {
  display: flex;
  flex-direction: column;

  margin-top: 30px;
}

.account-container > h1 {
  display: flex;
  justify-content: center;
  font-size: 18px;
  margin-bottom: 30px;
}

.account-order {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: white;
  margin: 0 80px;
}

.account-order > h1 {
  font-weight: bold;
}

.account-order > h1 > span {
  font-weight: lighter;
  color: grey;
}

.order-modal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.order-modal-info {
  width: 100%;
}

.order-modal-info > h1 {
  color: black;
  font-weight: bold;
  margin-bottom: 10px;
}

.order-modal-info > h1 > span {
  color: black;
  font-weight: lighter;
}

.order-modal-container {
  background-color: white;
  border-radius: 5px;
  width: 60%;
  height: 60%;
  z-index: 30;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
}

.order-list-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.order-list-container > h1 {
  margin: 15px 0;
  font-weight: bold;
}

.order-list {
  width: 100%;

  border-top: black solid 1px;
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  padding: 15px 15px 15px 0px;
}

.order-list > h2 {
  width: 10%;
}

.order-list > * {
  width: 22.5%;
}

.order-list > h1 {
  color: grey;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.order-list > h3 > span {
  color: grey;
}

.order-list > img {
  width: 50px;
}

/* RESPONSIVE */

@media (max-width: 1035px) {
  .header-container > div > a {
    font-size: 14px;
  }

  .header-logo {
    width: 125px;
  }
}

@media (max-width: 800px) {
  .header-container {
    flex-direction: column;
  }
  .header-menu {
    width: 100%;
    margin: 0 auto;
  }
}
