body {
  background-color: #f4f4f4;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  padding-bottom: 140px;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

.line {
  width: 100%;
  height: 1px;
  background-color: black;
  margin: 20px 0;
}

.default-button {
  border-radius: 5px;
  background-color: black;
  color: white;
  border: none;
  padding: 10px 15px 10px 15px;
  width: 100%;
  border-radius: 1 0px;
  cursor: pointer;
  z-index: 10;
  margin: 10px 0;
}

.loader {
  position: absolute;
  z-index: 5000;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Header */

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 35px;
}

.header-container > div > a {
  cursor: pointer;
  font-size: 20px;
}

.header-container > div > a > div {
  cursor: pointer;
  font-size: 30px;
}

.header-container > div > a:hover {
  color: #e20114;
}

.header-container > div > a > div:hover {
  color: #e20114;
}

.header-logo {
  width: 150px;
}

.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
}

.header-menu-clicked {
  color: red;
}

.header-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 120px;
}

.header-basket {
  position: relative;
}

.header-basket-counter {
  position: absolute;
  background-color: rgba(38, 166, 91, 1);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid white 1px;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  padding: 1px;
  font-size: 14px;
  font-weight: bold;
  top: 15px;
  left: 17px;
}

/* SearchBar */

.search-bar-container {
  display: flex;
  align-items: center;
  width: 30%;
  height: 24px;
  position: relative;
}

.search-bar {
  width: 100%;
  height: 100%;
  padding: 5px;
  padding-left: 30px;
  border: none;
  border-radius: 5px;
}

.search-bar:focus {
  outline: none;
}

.search-icon {
  position: absolute;
  left: 10px;
}

.search-bar-list {
  position: absolute;
  top: 25px;
  width: calc(100% - 60px);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.search-bar-list > div {
  background-color: white;
  width: 100%;
  padding: 5px 30px;
  cursor: pointer;
}

.search-bar-list > div:hover {
  background-color: lightgrey;
}

/* Footer */

.footer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  width: 100%;
  height: 8rem;
}

/* Home */

/* Hero */

.hero-container {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: white;
}

.hero-container > img {
  width: 50%;
}

/* Carousel */

.carousel > h1 {
  margin: 35px 0 15px 20px;
  font-size: 22px;
}

.carousel-container {
  margin: 0 10px;
}

.carousel-article-container {
  padding: 10px;
}

.carousel-article {
  border-radius: 5px;
  background-color: white;
  color: black;
  padding: 15px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.carousel-article:hover {
  box-shadow: 0px 5px 10px grey;
}

.carousel-article > h2 {
  color: grey;
}

.carousel-article > img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: top;
  cursor: pointer;
}

.carousel-article > button {
  border-radius: 5px;
  background-color: black;
  color: white;
  border: none;
  padding: 10px 15px 10px 15px;
  width: 100%;
  border-radius: 1 0px;
  cursor: pointer;
  z-index: 20;
}

/* About */

.about-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 80px 0;
  background-color: white;
}

.about-info > h1 {
  font-size: 18px;
  font-weight: 800;
  margin: 20px 0 10px 0;
}

.about-info > h3 {
  color: grey;
  margin-top: 50px;
}
.map {
  width: 100%;
  height: 650px;
  background-color: white;
}

/* Shop */

.shop-search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  margin-top: 30px;
}

.shop-categories-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  background-color: white;
  margin: 0 auto;
  margin-top: 40px;
  padding: 30px;
  border-radius: 5px;
}

.shop-categories-container > h1 {
  margin-bottom: 18px;
  font-weight: 800;
}

.shop-categories {
  margin: 0 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.shop-categories > label {
  margin: 5px 20px 5px 0;
}

.shop-categories > label > input {
  margin-right: 5px;
}

/* Article List */

.article-list-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.article-list-container > h1 > span {
  font-weight: 800;
}

.article-list-sub-container {
  margin: 20px 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.article-list {
  margin: 10px;
  border-radius: 5px;
  background-color: white;
  width: 160px;
  color: black;
  padding: 15px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.article-list:hover {
  box-shadow: 0px 5px 10px grey;
}

.article-list > h2 {
  color: grey;
}

.article-list > img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: top;
  cursor: pointer;
}

.article-list > button {
  border-radius: 5px;
  background-color: black;
  color: white;
  border: none;
  padding: 10px 15px 10px 15px;
  width: 100%;
  border-radius: 1 0px;
  cursor: pointer;
  z-index: 10;
}

/* Article Modal */

.article-modal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.article-modal-container {
  background-color: white;
  border-radius: 5px;
  width: 60%;
  height: 60%;
  z-index: 30;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}

.article-modal-container > div:nth-child(1) {
  width: 30%;
  height: 80%;
}

.article-modal-container > div:nth-child(1) > img {
  object-fit: cover;
  object-position: top;
  border-radius: 5px;
  width: 100%;
  height: 100%;
}

.article-modal-container > div:nth-child(2) {
  border-radius: 5px;
  width: 30%;
  height: 70%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.article-modal-container > div:nth-child(2) > h1 {
  font-weight: 800;
}

.article-modal-container > div:nth-child(2) > h2 {
  color: grey;
  text-align: justify;
}

.article-modal-container > div:nth-child(2) > button {
  border-radius: 5px;
  background-color: black;
  color: white;
  border: none;
  padding: 10px 15px 10px 15px;
  width: 100%;
  border-radius: 1 0px;
  cursor: pointer;
  z-index: 10;
}

.x-icon {
  position: absolute;
  cursor: pointer;
  font-size: 20px;
  top: 30px;
  right: 30px;
}

/* Login & Signup */

.credentials-form {
  margin: 30px auto;
  padding: 40px;
  width: 30%;
  height: 50vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}

.credentials-form button {
  border-radius: 5px;
  background-color: black;
  color: white;
  border: none;
  padding: 10px 15px 10px 15px;
  width: 80%;
  border-radius: 1 0px;
  cursor: pointer;
  z-index: 10;
}

.credentials-form > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}

.credentials-form > h1 {
  font-size: 20px;
  margin-bottom: 10px;
}

.credentials-form a {
  font-size: 12px;
  margin-top: 20px;
}

.credentials-form a:hover {
  color: #e20114;
}

.credentials-form input {
  margin: 10px 0 30px 0;
  padding: 5px;
  width: 75%;
}

/* Basket */

.basket-container {
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  margin-top: 40px;
}

.basket-sub-container {
  display: flex;
  width: 60%;
  flex-direction: column;
}

.basket-sub-container > h1 {
  font-size: 24px;
  margin-bottom: 15px;
}

.basket-sub-container > h2 {
  color: gray;
}

.basket-list-container {
  display: flex;
  flex-direction: column;
}

.basket-list {
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  padding: 15px 15px 15px 0px;
  border-radius: 5px;
}

.basket-list > h2 {
  width: 10%;
}

.basket-list > * {
  width: 22.5%;
}

.basket-list > h1 {
  color: grey;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.basket-list > h3 > span {
  color: grey;
}

.basket-list > img {
  width: 50px;
}

.total-container {
  width: 30%;
  height: fit-content;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 25px;
  position: sticky;
  top: 100px;
}

.total-container > h1 {
  margin: 0 auto;
  font-size: 24px;
  margin-bottom: 25px;
}

.total-container > h2 {
  width: 100%;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.total-container > h2 > span {
  color: grey;
}

.total-container > h3 {
  width: 100%;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

/* Quantity Counter */

.quantity-counter-container {
  display: flex;
  align-items: center;
}

.quantity-counter-container > h1 {
  padding: 6px;
  border: solid grey 1px;
  border-radius: 5px;
}

.quantity-counter-container > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 5px;
}

.quantity-counter-container > div > button {
  font-size: 8px;
  padding: 0 2px;
  cursor: pointer;
}

.quantity-counter-container > div > button:nth-child(1) {
  margin-bottom: 2px;
}

.arrow {
  color: black;
}

/* Alert Modal */

.alert-modal-container {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: rgba(38, 166, 91, 1);
  border-radius: 5px;
  border: solid white 1px;
  padding: 15px;
  display: flex;
  align-items: center;
  z-index: 5000;
  color: white;
}

.exit-alert-modal {
  font-size: 14px;
  margin-left: 10px;
  cursor: pointer;
}

/* RESPONSIVE */

@media (max-width: 1035px) {
  .header-container > div > a {
    font-size: 14px;
  }

  .header-logo {
    width: 125px;
  }
}
